
:root{
  --bgcolor:rgba(101, 173, 41, 0.65);
  
 }
 
 
 img{
     width: 70px;
 }
 
 .card{
     min-height: 150px;
     background-color: var(--bgcolor);
     font-size: 1.3rem;
     color: white;
 }
 
 
 .float-right>*{
     display:inline;
 }