body{
  font-family: 'Lato', sans-serif;
}

header{
  background-color: #ebf5ee;
}

h1{
  font-size: 45px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 65px;
}

.input-group{
  top: 40px;
}



:root{
  --bgcolor:rgba(101, 173, 41, 0.65);
  
 }
 
 
 img{
     width: 70px;
 }
 
 .card{
     padding:20px;
     min-height: 150px;
     background-color: var(--bgcolor);
     font-size: 1.3rem;
     color: white;
 }
 
 
 .float-right>*{
     display:inline;
 }
